<a
  id="link_autor"
  type="link"
  class="col-12 collapsed"
  data-toggle="collapse"
  data-target="#autor"
  aria-expanded="false"
>
  Programado por: Julio Cesar Corbaz
</a>
<!-- Card JCC -->
<div id="autor" class="collapse pt-2">
  <div class="alert alert-success alert-dismissible">
    <button id="cuerpo_autor" type="button" class="close" data-dismiss="alert">
      ×
    </button>
    <section class="mb-4 hide">
      <!-- Card header -->
      <div
        class="card-header border-0 font-weight-bold d-flex justify-content-between"
      >
        <p class="mr-4 mb-0">
          Datos de Contacto:
        </p>
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">
            <a
              href="https://www.facebook.com/JulioCorbaz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://twitter.com/julio_corbaz"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.instagram.com/julio.cesar.corbaz/"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/julio-corbaz/"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://wa.me/542235444899?text=Hola, escribe tu mensaje aqui. Gracias...."
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="mailto:julio.corbaz@gmail.com"
              target="_blank"
              rel="nofollow"
            >
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--Card body-->
      <div class="card-body">
        <div class="media">
          <picture>
            <source
              srcset="/img/f2.png"
              media="(min-width: 540px) and (max-width: 639px)"
            />
            <source
              srcset="/img/f3.png"
              media="(min-width: 640px) and (max-width: 1023px)"
            />
            <source srcset="/img/f4.png" media="(min-width: 1024px)" />
            <img
              alt="FOTO"
              class="avatar avatar-wordpress-social-login d-flex mr-3 z-depth-1 photo"
              height="110"
              width="110"
              src="/img/f1.jpg"
              alt="Mi images"
            />
          </picture>
          <div class="media-body">
            <h5 class="mt-0 font-weight-bold">
              <a href="https://juliocorbaz.000webhostapp.com" target="_blank">
                Julio Cesar Corbaz. JCC Producciones
              </a>
            </h5>
            <strong>
              Programador Freelance Full Stack
            </strong>
            <br />
            <strong>
              Mar del Plata-Buenos Aires
            </strong>
            <br />
            <strong>
              Argentina
            </strong>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>