<main
  id={{title}}
  class="masthead"
  style="background-image:url('/img/intro-bg.jpg');"
>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {{>employee/employee_formulario_consulta}}
        </div>
      </div>
    </div>
  </div>
</main>