<main
  id={{id}}
  class="masthead"
  style="background-image:url('/img/intro-bg.jpg');"
>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
					<div class="card text-center">
						<div class="card-header">
							<h3 class="m-0 tinta">
								{{title}}
							</h3>
						</div>
						<div class="card-body">{{!Formulario de Employee}}
							<form method="POST"
								action="/employee/modificacion/{{registro._id}}?_method=PUT"
								enctype="application/x-www-form-urlencoded">
									<input type="hidden" name="_method" value="PUT">
									{{>employee/employee_formulario_registrar}}
									{{>employee/employee_footer}}
							</form>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<!-- Modal Titulo -->
			<div class="modal-header">
				<h4 class="modal-title">Ejecutar Acción al Cerrar Modal</h4>
			</div>
			<!-- Modal Descripcion -->
			<div class="modal-body">
				<div class="alert alert-success">
					<strong>
						Grabacion Correcta
					</strong>
				</div>
			</div>
		</div>
	</div>
</div>