//$julio: "-julio.corbaz@gmail.com";
//@debug $julio;
// @debug type-of($julio);

@import "componentes/_root";
@import "componentes/_my-body";
@import "componentes/my-chat";
@import "componentes/my-scroll";
@import "componentes/_my-nav";
@import "componentes/_my-main";
@import "componentes/_my-footer-empresa";
@import "componentes/_presentacion";

.titulos {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: var(--violeta);
  background-color: var(--naranja);
  /* font-family: 'Cabin Condensed', sans-serif; */
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.titulos-blancos {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  color: var(--blanco);
  background-color: var(--naranja);
  /* font-family: 'Cabin Condensed', sans-serif; */
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.titulos-condensados {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 12px;
  color: var(--naranja);
  background-color: var(--violeta);
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.titulos-condensados-blancos {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 12px;
  color: var(--blanco);
  background-color: var(--violeta);
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.my-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}