# ./dist
dist
config
.vscode

# Modulos de Nodejs
node_modules

# npm
package-lock.json

# Variables de Entorno (environment)
.env.development
.env.production

collection_employee.json

# Archivos de MAC
.DS_Store

# Executables
src/public/assets/

