		<!-- Jquery -->
		<script src="js/bootstrap/jquery.min.js"></script>
		<!-- Popper -->
		<script src="js/bootstrap/popper.min.js"></script>

		<!-- Bootstrap 4.4.1 Original -->
		<script src="js/bootstrap/bootstrap.min.js"></script>

		<!-- my_jq.js  - Funciones Propias en Jquery-->
		<script src="js/my_jq.js"></script> 

		<!-- my_js.js  - Funciones Propias en JS -->
		<script src="js/my_js.js"></script>

		{{!-- <script src=
		"https://code.responsivevoice.org/responsivevoice.js?key=YlAYx2wk"></script> --}}
	</body>
</html>