<main class="">
  <div class="contenedor_presentacion">
    <img src="img/img2.jpg" />
    <img src="img/img2.jpg" />
    <img src="img/img2.jpg" />
    <img src="img/img2.jpg" />
  </div>
</main>
{{! <div data-v-1="" class="full-width-background">
  <video
    data-v-1=""
    loop="loop"
    muted="muted"
    autoplay="autoplay"
    poster="img/video_poster.avalith.jpg"
  >
    <source data-v-1="" src="img/avalith.mp4" type="video/mp4" />
  </video>
</div> }}