<main
  id={{title}}
  class="masthead"
  style="background-image:url('/img/intro-bg.jpg');"
>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">
            About
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla, suscipit at, non consequatur dolorum minus totam, laborum unde possimus eligendi dolore vitae repellat dicta quam provident laboriosam recusandae sit?
            Laudantium facere doloremque harum velit hic modi rem facilis? Animi quam aut, ea reprehenderit tempora harum ullam eos! Tempore totam nam nostrum, consequuntur iure sapiente fugiat iste possimus? Maxime, architecto.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="video-Wrapper crop-video has-playOnView">
  <video
    class="video-tablet
                   video-desktop"
    preload="metadata"
    playsinline=""
    muted=""
    loop=""
    poster="/content/dam/cc/us/en/products/photoshop/max2019/mb_ps_marquee_360x584.jpg.img.jpg"
  >
    <source
      src="https://images-tv.adobe.com/mpcv3/f97805ae-89ad-4944-bd6c-81f6bdca7c7e_1571953726.960x540at1200_h264.mp4"
      type="video/mp4"
    />
  </video>
</div>