<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Ejecutar Acción al Cerrar Modal
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Probaremos como ejecutar una accion al detectar el cierre del modal
        </p>
      </div>
    </div>
  </div>
</div>